#UpDownCounter {
	display: flex;
}

#counterContainer {
	border: 2px solid black;
	border-radius: 5px;
	text-align: center;
	width: fit-content;
	padding: 15px;
	margin: 25px 25px;
}

button {
	width: 100px;
	border: 1px solid black;
	border-radius: 5px;
	box-shadow: 1px 1px 0px black;
}

#up {
	background-color: lime;
}

#down {
	background-color: red;
}
